header
	.header-position
		h1.logo Julian Strayhorn II

		nav.site-nav
			ul
				li: a(href="#about") About
				li: a(href="#case") Case Studies
				li: a(href="#illustration") Illustration
				li: a(href="#design") Design
				li: a(href="#contact") Contact

		a(href="mailto:strayhorn.design@gmail.com").email-link +email me

		
