section.illustration
  .flex.flex--center
    .col-2
      h4 Sometimes I Illustrate...
      .masonry
        .item
          img(src='http://8pic.ir/images/gr1p4a0vj90t1q7mizuk.jpg')
        .item
          img(src='http://www.wow247.co.uk/wp-content/uploads/2013/03/Up-greatest-animated-movies.jpg')
        .item
          img(src='http://th01.deviantart.net/fs71/PRE/f/2013/195/b/f/chihiro_hakuresized_by_chukairi_d6d8vl4_by_chukairi-d6dg8fe.jpg')
        .item
          img(src='http://www.10wallpaper.com/wallpaper/medium/1109/Dolls-Cartoon_character_-_HD_Desktop_Wallpaper_second_Series_medium.jpg')
        .item
          img(src='http://p1.pichost.me/i/59/1831371.jpg')
        .item
          img(src='http://th01.deviantart.net/fs71/PRE/f/2013/195/b/f/chihiro_hakuresized_by_chukairi_d6d8vl4_by_chukairi-d6dg8fe.jpg')
        .item
          img(src='http://th01.deviantart.net/fs71/PRE/f/2013/195/b/f/chihiro_hakuresized_by_chukairi_d6d8vl4_by_chukairi-d6dg8fe.jpg')
        .item
          img(src='http://www.10wallpaper.com/wallpaper/medium/1109/Dolls-Cartoon_character_-_HD_Desktop_Wallpaper_second_Series_medium.jpg')
        .item
          img(src='http://p1.pichost.me/i/59/1831371.jpg')
        .item
          img(src='http://th01.deviantart.net/fs71/PRE/f/2013/195/b/f/chihiro_hakuresized_by_chukairi_d6d8vl4_by_chukairi-d6dg8fe.jpg')
      
    
