section.illustration
  .flex.flex--center
    .col-2
      h4 Sometimes I Illustrate...
      ul#imageGallery
        li
          a(href="https://d13yacurqjgara.cloudfront.net/users/325395/screenshots/2343408/bb8_d1.jpg")
            img#thumb(src="https://d13yacurqjgara.cloudfront.net/users/325395/screenshots/2343408/bb8_d1.jpg", alt="This is a boat.")
        li
          a(href="https://d13yacurqjgara.cloudfront.net/users/325395/screenshots/2427937/xwing-fighter_1x.png")
            img#thumb(src="https://d13yacurqjgara.cloudfront.net/users/325395/screenshots/2427937/xwing-fighter_1x.png", alt="This is a boat.")
        li
          a(href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/149535/copy_mcrepeatsalot.png")
            img#thumb(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/149535/copy_mcrepeatsalot.png", alt="This is a boat.")
        li
          a(href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/149535/education.png")
            img#thumb(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/149535/education.png", alt="This is a boat.")
        
