section.about
  .flex.flex--center
  
    .col-1
      h2 My Name is Jullian Strayhorn II, Design Hero and Illustrator Extroidinaire

    .col-1
      h2 My Name is Jullian Strayhorn II, Design Hero and Illustrator Extroidinaire
